__pycache__/
data/past_forecasts/
venv_dev_local/
local_venv/
*.pdf
ensemble_
*.ssv
*.csv
results/
exps


reff_cis_*.csv
.Rproj.user

# Being careful not to release anything here:
upload.sh
interface_functions/dropbox.R
interface_functions/spartan_backup.R
auth_info
auth_info_spartan
data/